<div *ngIf="pager && pager.pages && pager.pages.length > 0" class="btn-group mr-2" role="group" aria-label="First group">
  <button type="button" [ngClass]="{disabled:pager.currentPage === 1}" class="btn btn-primary" (click)="setPage(1)">First</button>
  <button type="button" [ngClass]="{disabled:pager.currentPage === 1}" class="btn btn-primary" (click)="setPage(pager.currentPage - 1)">&lt;</button>
  
  <button *ngFor="let page of pager.pages; index as i " [ngClass]="{active:pager.currentPage === page}" type="button" [ngClass]="{disabled:pager.currentPage === 1}" class="btn btn-primary" (click)="setPage(i+1)">{{i + 1}}</button>
  
  <button type="button" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="btn btn-primary" (click)="setPage(pager.currentPage + 1)">&gt;</button>
  <button type="button" [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="btn btn-primary" (click)="setPage(pager.totalPages)">Last</button>
</div>