<div class="header">
  <div class="header__app-name alert alert-success">
      <h1>WeatherApp</h1>
  </div>
  <div *ngIf="currentCity !== null" class="header__current-city alert alert-primary">
      <span>Местоположение: {{currentCity.name}}</span>
      <span>Температура: {{currentCity.main.temp - 273.15}} °С</span>
  </div>
</div>

<div class="input-group mb-3 search">
  <input type="text" class="form-control" [ngClass]="{}"  #city (keyup.enter)="addCity(city.value)" placeholder="Введите название города">
  <div class="input-group-append" data-toggle="popover" #buttonAdd data-content="Не удается найти такой город">
    <button class="btn btn-outline-primary" type="button"  (click)="addCity(city.value)">+</button>
  </div>
</div>

<div class="header">
  <h4 *ngIf="cities.length !== 0">В списке {{ getListLength() | pluralForCity}}</h4>
  <h4 *ngIf="cities.length === 0" class="">В списке нет городов :(</h4>
</div>

<div class="city-items" *ngIf="pagedCities && pagedCities.length > 0">
  <app-city class="city-item" *ngFor="let city of pagedCities" [city]="city" (delete)="deleteCity($event)"></app-city>
</div>

<div *ngIf="this.cities && this.cities !== null && this.cities.length > 0" class="btn-toolbar mb-3 paginator" role="toolbar">
  <app-paginator [pager]="pager" (setPageEvent)="setPage($event)"></app-paginator>
</div>